<% layout("/layouts/boilerplate") %>

<form id="attendanceForm" action="/<%= userId %>/dashboard/dashboardCRoom/attForm/studList/saveAtt" method="post" novalidate class="needs-validation">

    <h5><b><u>Taluka</u>:&nbsp;</b><%= taluka0 %></h5>
    <h5><b><u>School</u>:&nbsp;</b><%= school0 %></h5>
    <h5><b><u>Group</u>:&nbsp;</b><%= group0 %></h5>
    <h5><b><u>HOD</u>:&nbsp;</b><%= hod0 %></h5>
    <h5><b><u>Supervisor</u>:&nbsp;</b><%= supV0 %></h5>
    <h5><b><u>Kishori Tai</u>:&nbsp;</b><%= kTai0 %></h5>
    <h5><b><u>Date</u>:&nbsp;</b><%= date0 %></h5>
    <h5><b><u>Month</u>:&nbsp;</b><%= month0 %></h5>
    <h5><b><u>Week</u>:&nbsp;</b><%= week0 %></h5>
    <h5><b><u>TimeSlot</u>:&nbsp;</b><%= tSlot0 %></h5>

    <!-- Select Class Number -->
    <label for="sClass" class="form-label"><b>Enter Class Number</b>&nbsp;<sup>*</sup></label>
    <input type="number" name="Class" id="sClass" class="form-control" min="1" max="12" required>

    <div class="invalid-feedback">Class not selected!</div>
    <div class="valid-feedback">Class selected!</div>


    <input type="hidden" name="attData[Taluka]" id="taluka" value="<%= taluka0 %>">
    <input type="hidden" name="attData[School]" id="school" value="<%= school0 %>">
    <input type="hidden" name="attData[Class]" id="classH">
    <input type="hidden" name="attData[Group]" id="group" value="<%= group0 %>">
    <input type="hidden" name="attData[HOD]" id="hod" value="<%= hod0 %>">
    <input type="hidden" name="attData[Supervisor]" id="supervisor" value="<%= supV0 %>">
    <input type="hidden" name="attData[KishoriTai]" id="kTai" value="<%= kTai0 %>">
    <input type="hidden" name="attData[Date]" id="date" value="<%= date0 %>">
    <input type="hidden" name="attData[Month]" id="month" value="<%= month0 %>">
    <input type="hidden" name="attData[Week]" id="week" value="<%= week0 %>">
    <input type="hidden" name="attData[TimeSlot]" id="tSlot" value="<%= tSlot0 %>">


        <!-- Summary Table for Student Attendance -->
    <div class="container mt-5">
        <table class="table table-striped-columns custom-width-table">
            <thead>
                <tr>
                    <th>Class Check</th>
                    <th>Student Name</th>
                    <th>Standard</th>
                    <th>Attendance Status</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% studentsData.forEach(student => { %>
                <tr>
                    <td id="classCBox">
                        <input type="checkbox" id="classCheck" name="classCheck">
                    </td>
                    <td id="sName">
                        <!-- Hidden Field for Student Name -->
                        <input type="hidden" name="Sname" value="<%= student.Sname %>">
                        <%= student.Sname %>
                    </td>
                    <td id="std">
                        <!-- Hidden Field for Student Standard -->
                        <input type="hidden" name="Std" value="<%= student.Std %>">
                        <%= student.Std %>
                    </td>
                    <td id="toggle">
                        <!-- Toggle Switch for Attendance Status -->
                        <div id="toggleDiv0">
                            <div class="form-check form-switch" id="toggleDiv">
                                <!-- Checkbox for Attendance Toggle -->
                                <input class="form-check-input attendance-switch" name="AttStatus" data-student-id="<%= student._id %>" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>
                        </div>                        
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <!-- Attendance Summary -->
    <div class="mt-3">
        <p>Total Count: <b><span id="totalCount">0</span></b></p>
        <p>Present Count: <b><span id="presentCount">0</span></b></p>
        <p>Absent Count: <b><span id="absentCount">0</span></b></p>

        <input type="hidden" name="attData[totalCount]" id="tCountH">
        <input type="hidden" name="attData[presentCount]" id="pCountH">
        <input type="hidden" name="attData[absentCount]" id="aCountH">

    </div>
    <br><br><br>

    <!-- Hidden Field to Store Attendance Data -->
    <input type="hidden" id="hiddenField" name="attData[Attendance]">

    <!-- Submit Button to Submit Attendance Form -->
    <button type="submit">SUBMIT</button>
</form>

<script src="/js/atF2Script.js"></script>