<% layout("/layouts/boilerplate") %>
<style>
    .card {
        display: flex;
        flex-direction: row; /* To keep the row-reverse effect */
        align-items: center;
        background-color: 	#999999;
        color: white;
        border: 2px solid black !important;
        border-radius: 40px !important;
    }
    .card img {
        width: 15vw; /* Adjust the width of the image */
        height: 15vh;
        object-fit: contain;
    }
    .card-body {
        width: 50%; /* Adjust the width of the text container */
        padding: 1rem;
    }
</style>
<body>
    <h1>Welcome to the KVP Dashboard !</h1><br>
    <h4>Name of user- <%= name %></h4><br>
    <h5>Role of user- <b><%= role %></b></h5><br>

    <% if(role === "Admin" || role === "Supervisor" || role === "Kishori_Tai") { %>
    <div class="row row-cols-lg-1 row-cols-md-1 row-cols-sm-1">
        <a href="/<%= userId %>/dashboard/dashboardCRoom" class="listing-link">
            <div class="card">
                <img src="/images/classroom.png" class="card-img-top" alt="attForm_img">
                <div class="card-body">
                    <h3><b>CLASSROOM</b></h3>
                </div>
            </div>
        </a>
    </div>
    <% } %>

    <% if(role === "Admin" || role === "Supervisor") { %>
    <div class="row row-cols-lg-1 row-cols-md-1 row-cols-sm-1">
        <a href="/<%= userId %>/dashboard/dashboardData" class="listing-link">
            <div class="card">
                <img src="/images/data.png" class="card-img-top" alt="listing_image">
                <div class="card-body">
                    <h3><b>DATA</b></h3>
                </div>
            </div>
        </a>
    </div>
    <% } %>

    <% if(role === "Admin") { %>
    <div class="row row-cols-lg-1 row-cols-md-1 row-cols-sm-1">
        <a href="/<%= userId %>/dashboard/registerMember" class="listing-link">
            <div class="card">
                <img src="/images/register_member.png" class="card-img-top" alt="listing_image">
                <div class="card-body">
                    <h3><b>REGISTER MEMBER</b></h3>
                </div>
            </div>
        </a>
    </div>
    <% } %>
</body>
</html>
